# web app url
WEB_APP_URL=

# supabase keys
SUPABASE_URL=
SUPABASE_SECRET_KEY=
SUPABASE_BUCKET=

# google keys
GOOGLE_CLIENT_ID=
GOOGLE_SECRET_KEY=
GOOGLE_GEMINI_API_KEY=

# openai keys
OPENAI_API_KEY=
